# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Módulos y archivos de compilación
node_modules
dist
dist-ssr
*.local

# Variables de entorno
.env
.env.*

# Configuración del editor
.vscode/*
!.vscode/extensions.json
.idea

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de proyectos de Visual Studio Code
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
