.MuiPaper-root {
  .MuiList-root {
    background-color: var(--color-gray-50);
    padding: 0;
    min-width: 25rem;

    .MuiButtonBase-root {
      font-family: var(--font-sans);
      font-size: 1.3rem;

      .MuiListItemIcon-root {
        min-width: 0;
        padding-right: 1rem;
      }
    }
  }
}

.MuiButtonBase-root.css-14cb4wo-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: var(--color-gray-200);
}

.dark {
  .MuiList-root {
    background-color: var(--color-gray-900);

    .MuiDivider-root {
      border-color: var(--color-gray-500);
    }

    .MuiButtonBase-root:hover{
      background-color: var(--color-gray-800);
    }
  }

  .MuiButtonBase-root.css-14cb4wo-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: var(--color-gray-700);
  }
}